# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask instance and env files
instance/
.env
*.env

# Virtualenv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery stuff
celerybeat-schedule
celerybeat.pid

# dotenv
*.env

# Logs and database
*.log
*.sql
*.sqlite3
db.sqlite3

# macOS files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# Test and coverage results
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

